.financial-overview {
display: flex;
flex-direction: column;
}

.header {
display: flex;
justify-content: space-between;
align-items: center;
}

.company-details {
margin-right: 20px;
}

.header-title {
font-size: 24px;
font-weight: bold;
}

.content {
    display: flex;
    margin-top: 20px;
}

/* make all table responsive */
.table-responsive {
    overflow-x: auto!important;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0!important;
}
.card{
    padding:1.2rem!important
}

.bg-gray{
    background-color: #CBD5D3;
    color: #1D322B;
}

.financial-overview th, td, .analyst-comments ul > li {
    padding: 8px;
    color: #2F5651!important;
    margin-bottom: 0;
}
hr{
    margin-top:1rem!important;
    margin-bottom:1rem!important;
}
h5{
    margin-bottom: 0;
}

.financial-overview table thead th {
    background-color: #F7F1E3!important;
    border-bottom: none!important;
}
tr.highlight > td{
    color: #EA2F2F;
}
table thead th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
table thead th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*add padding left to all the td in left side of the table
and padding right to all the td in right side of the table*/
table tbody tr td:first-child,  table thead tr th:first-child {
    padding-left: 1.5rem;
}

table tbody tr.highlight td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
table tbody tr.highlight td:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* table tbody tr.highlight{
    filter: alpha(opacity=30);
    opacity: 0.3;
    -moz-opacity: 0.3;
} */

table tbody tr.highlight td > div {
    opacity: 1!important;
    position: absolute;
}

/*add drop shadow to the table*/
div.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
}
h2{
    margin-bottom: 0;
}
hr{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-color: #2F5651;
}
.bg-cream{
    background-color: #F7F1E3!important;
}
table tr td{
  border: none!important;
}
table tr td.second-title{
    padding-left: 0;
    padding-right: 0;
    border-radius: 10px!important;
}

table tr td.second-title div{
    border-radius: 10px!important;
    padding-top:.5rem;
    padding-bottom:.5rem;
    padding-left: 1.5rem;
    color: #1D322B;
}

.semi-card{
    background-color: #F7F1E3!important;
    border: 1px solid #2F5651;
    border-radius: 10px;
    padding: 0.5rem;
    width: 100%;
    font-size: 14px!important;
}



.header-container{
    background-color: #fff!important;
    border-bottom: 1px solid #dee2e6;
    margin-left:-23px;
    margin-right:-23px;
    margin-top:-23px;
    margin-bottom: 1rem;
}

.ac-comment-container{
  max-height: 280px;
  overflow-y: scroll;
}

.crp-comment-container{
  max-height: 170px;
  overflow-y: scroll;
}

.font-12{
  font-size: 12px;
}
.page-link{
  font-size: 12px;
  margin-bottom: 0;
  cursor: pointer;
  color: #2F5651;
}
table thead tr th{
    font-weight: 500!important
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

p.company-link{
    margin-bottom: 0;
    color:#1D322B;
    cursor: pointer;
}
table tr td.font-medium{
    font-weight: 500;
}
.font-medium{
    font-weight: 500;
}

.negative-number, .positive-number{
    color: #2F5651;
    text-align: center;
    width: 65px;
    border-radius: 0.4rem;
}
.negative-number{
    background-color: #F6C5C5;
}
.positive-number{
    background-color: #C5F6D0;
}

.financial-overview-page{
    border:1px solid #dee2e6;
    background-color: #FEFCF8;
    color: #2F5651;
    max-width: 700px;
}

.company-page table thead th{
    background-color: #f7f1e3 !important;
    border-bottom: none !important;
    color: #2F5651;
    text-align: center;
}
/*make the td center except the first td*/
.company-page table tbody td{
    text-align: center;
}
.company-page table.aligned-table tbody td:first-child, .company-page table.aligned-table thead th:first-child{
    text-align: left!important;
    min-width: 210px!important;
    max-width: 210px!important;
    width: 210px!important;
}
.company-page table tbody td:first-child, .company-page table thead th:first-child{
    text-align: left!important;
}


.company-page table tbody td{
    text-align: center;
    width: 127px;
}
.text-left{
    text-align: left!important;
}

.company-page table tbody td, .company-page table thead th{
    font-size: 14px;
}