table tr td, table tr th {
    padding: 10px;
    font-size: 12px;
}
table thead tr th{
    background-color: #F7F1E3 !important;
    font-weight: bold;
}
table thead tr th:first-child{
    border-top-left-radius: 5px!important;
    border-bottom-left-radius: 0!important;
}
table thead tr th:last-child{
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 0!important;
}

div.clinked-table-container{
    width: 400px;
    height: 1000px;
}